html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Special Elite', cursive;
}
.xxl{

}
.xl{
  font-size:3em;
}
h1{
  font-family: 'Bangers', cursive;
}
h2{
  font-family: 'Special Elite', cursive;
}
h3{
  font-family: 'Special Elite', cursive;
}
h4{
  font-family: 'Special Elite', cursive;
}
h5{
  font-family: 'Special Elite', cursive;
}
p{
  font-family: 'Special Elite', cursive;
}
.anchor{
  color:LightSteelBlue ;
}
.a{
  color:LightSteelBlue ;
}
.anchor:hover{
  text-decoration:underline ;
}
.a:hover{
  text-decoration:underline ;
}
.anchor:visited{
  color:Plum ;
}
.a:visited{
  color:Plum ;
}
.bangers{
  font-family: 'Bangers', cursive;
}
.special-elite{
  font-family: 'Special Elite', cursive;
}
.base-header-icon{
    font-size:2em;
    margin-top:26px;
}
.base-margin-auto{
    margin:auto;
}
.base-margin-auto{
    padding-top:40%;
}
.base-border-test{
    border-style:solid;
    border-width:1px;
}
.base-lh0{
    line-height:0;
}
.base-right{
float: right;
}
.base-center{
margin-left:10%;
margin-right:10%;
}
.mdl-card {
  margin-top: 16px;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: auto;
}
.mdl-card-std > .mdl-card__title {
  color: #fff;
  background: #3F51B5; 
}
.mdl-card-wide > .mdl-card__title {
  color: #fff;
  background: #3F51B5;
}
.mdl-card-wide.mdl-card {
  width: 512px;
}
.header-icon-adjust{
  margin-top:26px;
}
.fix {
  vertical-align: middle;
}

