html,
body {
  height: 100%;
  width: 100%;
}
.base-header-icon{
    font-size:2em;
    margin-top:26px;
}
.base-margin-auto{
    margin:auto;
}
.base-margin-auto{
    padding-top:40%;
}
.base-border-test{
    border-style:solid;
    border-width:1px;
}
.base-lh0{
    line-height:0;
}
.base-right{
float: right;
}
.base-center{
margin-left:10%;
margin-right:10%;
}
.mdl-card {
  margin-top: 16px;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: auto;
}
.mdl-card-std > .mdl-card__title {
  color: #fff;
  background: #3F51B5; 
}
.mdl-card-wide > .mdl-card__title {
  color: #fff;
  background: #3F51B5;
}
.mdl-card-wide.mdl-card {
  width: 512px;
}
.header-icon-adjust{
  margin-top:26px;
}
    .material-icons, .icon-text, .icon-text-caps, .icon-text-tweaked {
      vertical-align: middle;
    }
    .icon-text-caps, .icon-text-tweaked {
      text-transform: uppercase;
    }
    .icon-text-tweaked {
      position:relative;
      top:1px;
    }

